@model Venta
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Ventas</h1>
<hr />
<div>
    @if(Model.Ventas != null)
    {
        if(Model.Ventas.Count > 0)
        {
            <table class="table table-dark table-hover text-center">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Detalles</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Venta venta in Model.Ventas)
                    {
                        <tr>
                            <td>@venta.IdVenta</td>
                            <td>@venta.Fecha</td>
                            <td>@venta.Producto.Nombre</td>
                            <td>@venta.Producto.Detalles</td>
                            <td>$ @venta.Producto.Precio</td>
                            <td>@venta.Producto.Cantidad</td>
                            <td>$ @(venta.Producto.Cantidad * venta.Producto.Precio)</td>
                            <td><a class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar?')"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div role="alert" class="alert alert-warning">
                No hay ventas registradas.
            </div>
        }
    }
    else
    {
        <div role="alert" class="alert alert-danger">
            Ha ocurrido un error al consultar las ventar. Puede que el servicio no se encuentre disponible.
        </div>
    }
</div>