@model Producto
@{
    ViewData["Title"] = "Tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Tienda</h1>
<hr />
<div>
    <p>Productos disponibles.</p>
</div>
<hr />
<div>
    @if (Model.Productos != null)
    {
        if (Model.Productos.Count > 0)
        {
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (Producto producto in Model.Productos)
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@producto.Nombre</h5>
                                <p class="card-text">@producto.Detalles</p>
                                <p class="card-text">Costo: $ @producto.Precio</p>
                                <p class="card-text">Disponible: @producto.Stock</p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control-plaintext" value="Agregar al carrito">
                                    <a class="btn btn-success" href="@Url.Action("AddCarrito", "Venta", new {idProducto = producto.IdProducto})">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div role="alert" class="alert alert-warning">Sin productos registrados.</div>
        }
    }
    else
    {
        <div role="alert" class="alert alert-danger">Error al consultar los productos. Puede que el servicio no este funcionando correctamente.</div>
    }
</div>